VITE_GOOGLE_CALENDAR_ID=your_calendar_id@group.calendar.google.com
VITE_GOOGLE_CALENDAR_API_KEY=your_google_calendar_api_key
VITE_WEATHER_LAT=43.6532
VITE_WEATHER_LON=-79.3832
VITE_WEATHER_LOCATION=Toronto
